<% content_for :title, 'API-nycklar' %>

<h2><%= current_user_is_admin ? 'Alla' : 'Dina' %> API-nycklar</h2>


<% if !current_user_is_admin %>

  <%= render 'user_rows', user_applications: @user_applications %>
  <p>
    <%= link_to 'Lägg till applikation', new_user_application_path %>
  </p>

<% else %>

    <% @users.each do |user| %>
      <% unless user.is_admin %>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <%= user.email %>
          </div>
          <div class="panel-body">
            <%= render 'user_rows', user_applications: user.user_applications %>
          </div>
        </div>

      <% end %>
    <% end %>

<% end %>

